[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/hunnu-labs/hunnu-benchmark.git
[submodule "compiler-core"]
	path = compiler-core
	url = https://github.com/hunnu-labs/hunnu-compiler.git
